@model VidlyAppWithLatestAuth.Models.Movie
@{
    ViewBag.Title = "MovieDetails";
}

<h3>@Model.Name</h3>
<li>Genre:-   @Model.Genre.Name</li>
<li>ReleaseDate:-  @Model.ReleaseDate</li>
<li>DateAdded:-  @Model.DateAdded</li>
<li>NumberInStock:-  @Model.NumberInStock</li>

